<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{_("Green Board")}}</title>
<link rel="stylesheet"
	href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="{{static_url("sticky-notes.css")}}" rel="stylesheet"
	type="text/css">
<style type="text/css">
body {
	background-color: #176f4e;
}

.container {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin: 0em 0em 0em 1em;
}
</style>
</head>

<body>
	<!-- START THE NAVBAR -->
	<nav class="navbar navbar-static-top"
		style="background: url({{ static_url("images/wood-banner.jpg")}}) repeat">
		<div class="container2">
			<div class="navbar-header">
				<a class="navbar-brand navbar-toggle collapsed"
					href="edit-board?boardId={{boardId}}"> 
					<span class="glyphicon glyphicon-edit" aria-hidden="true"> </span>
				</a> 
				<a class="navbar-brand glyphicon glyphicon-chevron-left"
					style="cursor: pointer" href="/sticky-note/boards">
					<span>{{_("Home")}}</span> 
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<div class="nav navbar-nav navbar-right">
					<a class="navbar-brand" href="edit-board?boardId={{boardId}}">
						<span class="glyphicon glyphicon-edit" aria-hidden="true">
					</span> {{_("Edit")}}
					</a>
				</div>
			</div>
		</div>
	</nav>
	<!-- END NAVBAR -->

	<div class="container">
		<div id="uncompleted_notes">
			<ul>
				<li><a id="plus" href="add-note?boardId={{boardId}}"> 
						<img src="{{static_url("images/plus-black.png")}}"
							width="100%" height="100%" />
				</a></li> 
				{% for note in unotes %} 
					{% module Template("stickynote/notes-block.html",note=note) %} 
				{% end %}
			</ul>
		</div>
		<div id="completed_notes">
			<ul>
				{% for note in cnotes %} 
					{% module Template("stickynote/notes-block.html",note=note) %} 
				{% end %}
			</ul>
		</div>
	</div>
</body>
</html>