<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1,user-scalable=no">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>报名</title>

<link href="{{static_url("activity_desc.css")}}" rel="stylesheet" type="text/css">

</head>
<body>
<div class="wrap">
    <div class="bmcg">
        <h3>报名成功</h3>
        <p><b></b><span></span><b></b></p>
        <p class="distxt">还没有安装？长按二维码识别，下载应用进行查看。</p>
        <div class="code">
           <img src="{{static_url("image/activity/yyb-dbcode.jpg")}}" />
        </div>
    </div>
</div>

</body>
</html>
