<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1,user-scalable=no">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>填写报名信息</title>

<link href="{{static_url("activity_desc.css")}}" rel="stylesheet" type="text/css">

<script type="text/javascript">
	var rows = 1;
	var rowNums = 1;
	var rowArray = new Array();
	rowArray.push(rowNums);

	function remove(arr, item) {
		for (var i = arr.length; i--;) {
			if (arr[i] === item) {
				arr.splice(i, 1);
			}
		}
	}

	function DeleteDom(row) {
		var strId = "participationRow_" + row;
		oldChild = document.getElementById(strId);
		document.getElementById("participationCells").removeChild(oldChild);

		rows--;
		remove(rowArray, row);
		document.getElementById("hidden_participationRowNum").value = rows;
		document.getElementById("hidden_participationRowArray").value = rowArray
				.toString();
	}

	function AddDom() {
		rows++;
		rowNums++;
		rowArray.push(rowNums);
		var strId = "participationRow_" + rows;
		var columns = document.getElementById("hidden_participationColumnNum").value;
		document.getElementById("hidden_participationRowNum").value = rows;
		document.getElementById("hidden_participationRowArray").value = rowArray
				.toString();

		var divControl = document.createElement("div");
		divControl.setAttribute("id", strId);

		var labelControl = document.createElement("h4");
		labelControl.setAttribute("class", "form-signin-heading");
		labelControl.innerHTML = "同行人";
		divControl.appendChild(labelControl);

		var buttonControl = document.createElement("input");
		buttonControl.setAttribute("type", "button");
		buttonControl.setAttribute("class", "btn btn-sm btn_danger active");
		buttonControl.setAttribute("name", "btnDeleteText");
		buttonControl.setAttribute("value", "删除同行人");
		var strAction = "javascript:DeleteDom(" + rows + ");";
		buttonControl.setAttribute("onclick", strAction);
		divControl.appendChild(buttonControl);

		for (var i = 0; i < columns; i++) {
			var seq = document.getElementById("hidden_inputParticipation_"
					+ (i + 1) + "_seq").value;
			var name = document.getElementById("hidden_inputParticipation_"
					+ (i + 1) + "_name").value;

			var textControl = document.createElement("input");
			textControl.setAttribute("type", "text");
			textControl.setAttribute("class", "form-control");
			textControl.setAttribute("name", "inputParticipation_" + rows + "_"
					+ seq);
			textControl.setAttribute("id", "inputParticipation_" + rows + "_"
					+ seq);
			textControl.setAttribute("placeholder", name);
			divControl.appendChild(textControl);
		}

		document.getElementById("participationCells").appendChild(divControl);
	}
</script>
</head>



<body>

<div class="wrap greybg">
    <div class="Signup">
        <div class="pictext">
            <dl>
                <dt><img src="{{info['bgImageUrl']}}!200x200" /></dt>
                <dd><p>{{info["activityName"]}}</p><span>{{info["beginTime"]}}</span></dd>
            </dl>
        </div>
    </div>

  <form class="form-signin" id="form-signin" action="/wechat/activity/apply" method="POST">
  	{% raw xsrf_form_html() %}
  
    <div id="participationCells">
      <input type="hidden" id="ekey" name="ekey" value="{{ekey}}">
      <div id="participationRow">
        <p class="cyr">参加人信息</p>
        <div class="participant">
          <ul>
          	{% for field in template %}
              <li><span>{{field['fieldName']}}：</span>
                  <input type="text" name="participation_{{field['fieldName']}}" class="inp_part"/>
              </li>
            {% end %}
          </ul>
        </div> <!-- participationRow_1 -->
      </div>
    </div> <!-- participationCells -->

    <div class="fixbtn">
        <a onclick="SubmitForm();" class="defbtn">提交报名</a>
    </div>
  </form>
</div>

<script type="text/javascript">
function SubmitForm() {
	document.getElementById("form-signin").submit();
}
</script>
</body>
</html>