<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Sticky notes</title>
<link rel="stylesheet"
	href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="{{static_url("sticky-notes.css")}}" rel="stylesheet" type="text/css">
<style type="text/css">
body {
    background-color: #176f4e;
}
.container {
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}
</style>
</head>

<body>
<div class="container">
	<nav class="navbar">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<h3 class="glyphicon glyphicon-chevron-left" style="cursor: pointer" onClick="history.go(-1);return true;">Boards</h3>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<a class="btn btn-md btn-primary" id="edit" href="edit-board?boardId={{boardId}}">Edit Board</a>
			</ul>
		</div>
	</nav>

	<div id="uncompleted_notes">
		<ul>
			<li><a id="plus" href="add-note?boardId={{boardId}}">
				<img src="{{static_url("images/plus-black.png")}}" width="100%" height="100%" />
			</a></li>
			{% for note in unotes %} 
				{% module Template("notes-block.html",note=note) %} 
			{% end %}
		</ul>
	</div>
	<div id="completed_notes">
		<ul>
			{% for note in cnotes %} 
				{% module Template("notes-block.html",note=note) %} 
			{% end %}
		</ul>
	</div>	
</div>
</body>
</html>