<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
<title>生娃后的蜜月—Bali</title>
<meta name="description" />
<meta name="keywords" />
<link rel="stylesheet" href="{{static_url("aplan/vendor.css")}}" />
<link rel="stylesheet" href="{{static_url("aplan/main.css")}}" />
</head>
<body>
	<div id="skrollr-body">
		<div id="header" class="section full-width">
			<img src="http://stimgcn1-ppe.s-msn.com/scroll/2016/02-10/35c8/ca93-982f-7959-0b7b-602edf5e803c.jpg" />
			<div class="bg"></div>
			<h1>生娃后的蜜月—Bali</h1>
			<p>train<span>2016/2/12 0:37:45</span></p>
		</div>
	</div>
						
	<div class="section">
		<p class="fontSize:3,textAlign:left,fontName:0,fontColor:d">卡喵提早来到，就没有和大叔出去蜜月。今年，乘卡喵断奶，飞去热带的岛屿游泳，来场真正的蜜月！无景点，无购物，无攻略“三无”蜜月！</p>
	</div>	
	<div data-bottom-top="transform:translate3d(0, 50px,0);opacity: 0.5;" 
		data-bottom="transform:translate3d(0, 0,0);opacity: 1;" 
		class="section gallery gallery6 type2"> 
		<figure data-sr="ease-in-out 50% scale up 20%">
			<a><img src="http://stimgcn1-ppe.s-msn.com/scroll/2016/02-10/71de/ca34-3095-30ba-e62a-d60dc17f545c.jpg" /></a>
		</figure><figure data-sr="ease-in-out 50% scale up 20%">
			<a><img src="http://stimgcn1-ppe.s-msn.com/scroll/2016/02-10/d811/9caf-973a-33ea-a14c-ed3fab262dec.jpg" /></a>
		</figure><figure data-sr="ease-in-out 50% scale up 20%">
			<a><img src="http://stimgcn1-ppe.s-msn.com/scroll/2016/02-10/30b6/897a-06ed-8cd1-9dd7-bb0586b73fd1.jpg" /></a>
		</figure><figure data-sr="ease-in-out 50% scale up 20%">
			<a><img src="http://stimgcn1-ppe.s-msn.com/scroll/2016/02-10/0e56/c4eb-1c79-d61f-7bb7-6aa4ef7b1b04.jpg" /></a>
		</figure><figure data-sr="ease-in-out 50% scale up 20%">
			<a><img src="http://stimgcn1-ppe.s-msn.com/scroll/2016/02-10/3fd4/0bcc-7d91-fda1-6299-050d15075f8a.jpg" /></a>
		</figure><figure data-sr="ease-in-out 50% scale up 20%">
			<a><img src="http://stimgcn1-ppe.s-msn.com/scroll/2016/02-10/07be/9271-7cf8-d549-71be-2e4c5b9fb696.jpg" /></a>
		</figure>
	</div>
	<div class="section">
		<p class="fontSize:3,textAlign:left,fontName:0,fontColor:d">由于不想陷入攻略中的那种千篇一律的行程，所以基本不看攻略，所以第一天还是遇到了一些小状况，不过没有打扰旅途的兴奋，开始吧。\n福州长乐机场真是有够落后，我们早上6点20到机场，国际航空门闸门还没开😂😂一行人等了15分钟，指望着过关后有暖气，毕竟去南半球过冬身上穿得单薄些！结果，生生把我们冻到登机。还好太阳公公出来为我们暖暖地送行🌞🌞</p>
	</div>	
	<div data-bottom-top="transform:translate3d(0, 50px,0);opacity: 0.5;" 
		data-bottom="transform:translate3d(0, 0,0);opacity: 1;" 
		class="section gallery gallery6 type3"> 
		<figure data-sr="ease-in-out 50% scale up 20%">
			<a><img src="http://stimgcn1-ppe.s-msn.com/scroll/2016/02-11/340a/b44e-d8bc-5897-365a-231214bca111.jpg" /></a>
		</figure><figure data-sr="ease-in-out 50% scale up 20%">
			<a><img src="http://stimgcn1-ppe.s-msn.com/scroll/2016/02-11/7f9b/1965-4e7e-132f-5e03-07b5b63897af.jpg" /></a>
		</figure><figure data-sr="ease-in-out 50% scale up 20%">
			<a><img src="http://stimgcn1-ppe.s-msn.com/scroll/2016/02-11/d9cd/96ea-69dd-ba1b-e351-ea7382335fe6.jpg" /></a>
		</figure><figure data-sr="ease-in-out 50% scale up 20%">
			<a><img src="http://stimgcn1-ppe.s-msn.com/scroll/2016/02-11/92b9/62c4-a601-ae23-cbc7-afc597604c4c.jpg" /></a>
		</figure><figure data-sr="ease-in-out 50% scale up 20%">
			<a><img src="http://stimgcn1-ppe.s-msn.com/scroll/2016/02-11/919c/1173-7b6e-302e-d990-73fbd97c0179.jpg" /></a>
		</figure><figure data-sr="ease-in-out 50% scale up 20%">
			<a><img src="http://stimgcn1-ppe.s-msn.com/scroll/2016/02-11/4ecc/edad-57d8-984d-bf85-22f679829031.jpg" /></a>
		</figure>
	</div>
	
	<script src="{{static_url("aplan/vendor.js")}}"></script>
	<script src="{{static_url("aplan/main.js")}}"></script>
	<script>
		pageInit();
	</script>
</body>
</html>