<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gomoku Game Board</title>

<link rel="stylesheet"
	href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Custom CSS -->
<link href="{{static_url(" css/clean-blog.min.css")}}" rel="stylesheet">
<style type="text/css">
.container {
	padding: 0px 0px 0px 0px;
}
</style>
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand text-shadow" href="/demo-center"><span class="glyphicon glyphicon-blackboard"> Gomoku Game</span></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/demo-center">Demo Center</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	
	<div class="container">
	<h1>&nbsp;</h1>
	<form class="form-signin" name=WorkSheet>
		<table height="100%" border=0 cellpadding=0 cellspacing=0
			align="center">
			<tr>
				<td id='GoBoardPanel'></td>
			</tr>
			<tr>
				<td>
					<embed name="clickSound" src="{{static_url("stone/sound/button-16.wav")}}" autostart="false" mastersound hidden="true" volume=100 width=0 height=0></embed>
					<embed name="errorSound" src="{{static_url("stone/sound/button-31.wav")}}" autostart="false" mastersound hidden="true" volume=100 width=0 height=0></embed>
					<audio id='audioPlayClick' src='{{static_url("stone/sound/button-16.wav")}}' hidden='true'>
					<audio id='audioPlayError' src='{{static_url("stone/sound/button-31.wav")}}' hidden='true'>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<a class="btn btn-primary" type='button' name='first' value='<<' onclick='clickFirst()' >
						<span class="glyphicon glyphicon-backward"></span></a>
					<a class="btn btn-primary" type='button' name='back' value='<' onclick='clickBack()' >
						<span class="glyphicon glyphicon-chevron-left"></span></a>
					<a class="btn btn-primary" type='button' name='forward' value='>' onclick='clickForward()' >
						<span class="glyphicon glyphicon-chevron-right"></span></a>
					<a class="btn btn-primary" type='button' name='last' value='>>' onclick='clickLast()' >
						<span class="glyphicon glyphicon-forward"></span></a>
					<a class="btn btn-primary" type='button' name='number' value='show number' onclick='showNumber()' >
						<span class="glyphicon glyphicon-eye-open"></span></a>
					<a class="btn btn-primary" type='button' name='number' value='hide number' onclick='hideNumber()' >
						<span class="glyphicon glyphicon-eye-close"></span></a>
					<a class="btn btn-primary" type='button' name='number' value='last 20 number' onclick='show20Number()' >
						<span class="glyphicon glyphicon-sunglasses">20</span></a>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<div class="progress">
						<div id="slider" class="progress-bar" role="progressbar" aria-valuenow="60"
							aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
					</div>
				</td>
			</tr>
		</table>
	</form>
	</div>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<ul class="list-inline text-center">
						<li><a href="mailto:thomas@time2box.com"> <span
								class="fa-stack fa-lg"> <i
									class="fa fa-circle fa-stack-2x"></i> <i
									class="fa fa-envelope fa-stack-1x fa-inverse"></i>
							</span>
						</a></li>
						<li><a href="http://weibo.com/sedums"> <span
								class="fa-stack fa-lg"> <i
									class="fa fa-circle fa-stack-2x"></i> <i
									class="fa fa-weibo fa-stack-1x fa-inverse"></i>
							</span>
						</a></li>
						<li><a href="https://www.linkedin.com/in/璟天-张-33a65a102">
								<span class="fa-stack fa-lg"> <i
									class="fa fa-circle fa-stack-2x"></i> <i
									class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
							</span>
						</a></li>
						<li><a href="https://github.com/ThomasZh"> <span
								class="fa-stack fa-lg"> <i
									class="fa fa-circle fa-stack-2x"></i> <i
									class="fa fa-github fa-stack-1x fa-inverse"></i>
							</span>
						</a></li>
					</ul>
					<p class="copyright text-muted">Copyright &copy; time2box.com
						2016</p>
				</div>
			</div>
		</div>
	</footer>
	
	<!-- jQuery -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="{{static_url("js/clean-blog.min.js")}}"></script>
	
	<script type="text/javascript" src="{{static_url("stone/GoGame.js")}}"></script>
	<script type="text/javascript" src="{{static_url("stone/GomokuJudgement.js")}}"></script>
	<script type="text/javascript" src="{{static_url("stone/GoBoard.js")}}"></script>
	<script type="text/javascript" src="{{static_url("stone/GomokuBoardPlay.js")}}"></script>
	<script language=javascript>
		//初始化棋盘
		var goBoard = new GomokuBoardPlay();
		goBoard.Init('GoBoardPanel');
		goBoard.SetMode(__Mode_Playing_Black);

		// 鼠标右键被禁用
		document.oncontextmenu = stop;

		function stop() {
			return false;
		};

		function clickFirst() {
			//alert('first');
			goBoard.First();
		};

		clickBack = function() {
			//alert('back');
			goBoard.Back();
		};

		clickForward = function() {
			//alert('forward');
			goBoard.Forward();
		};

		clickLast = function() {
			//alert('last');
			goBoard.Last();
		};

		showNumber = function() {
			goBoard.ShowNumber();
		};

		show20Number = function() {
			goBoard.Show20Number();
		};

		hideNumber = function() {
			goBoard.HideNumber();
		};

		$(function() {
			$("#slider").slider({
				min : 0,
				max : 0,
				step : 1,
				slide : function(event, ui) {
					goBoard.GotoStep(ui.value);
				}
			});
		});
	</script>
</body>
</html>