<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>英雄帖</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link href='css/bottom.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div class="header">
        <div>
            <div class="logo">
                <a href="http://www.tripc2c.com">A 计划</a>
            </div>
        </div>
    </div>

    <div>
        <div class="agreement">
	    <h1> 英雄帖 </h1>
            <div>
		<p> 这是一个英雄帖！撒向所有自信人生百年，可以成就一番事业的英雄！撒向已经功成名就但愿意再建辉煌的英雄，撒向寻求卓越，正奋斗在人生旅途的英雄，撒向遭受了挫折，经历着低谷，但内心依然坚定太阳明日一定会升起的英雄。 </p>

		<p> 苏州驷马奔腾网络科技有限公司是三位心怀梦想的创业者的结晶！他们坚信通过移动互联网，通过创新，“天生我才必有用” 将有全新的移动互联网注解，而每个普通人都可以成为自己时间的主人！ 通过移动互联网，通过创新，他们和你一起可以打造新型的人与人之间的信任的平台！在过去的20年的时间里面， 他们在移动通信行业，互联网行业和有线电视行业摸爬滚打，他们曾经服务于微软，惠普， 摩托罗拉这样知名跨国公司，他们也曾经挽起袖子，在创业公司里追逐梦想。他们真心拥抱开诚布公，尊重异见，拥抱变化，果断执行的企业理念， 因为他们知道，梦想的实现，是靠那些胸怀远大，敢于挑战，脚踏实地的英雄们书写的！ </p>
 
		<h2> 我们诚邀各路英豪加盟，共图发展！ </h2>
 
		<h3> 1名产品经理 									20000元／月 
		</h3>
		<p> ———————————————————————————————————————— </p>
		<p> 跟踪、分析、挖掘产品的用户需求，规划及管理产品线，推进产品的开发实施 </p>
		 
		<h3> 1名iOS程序员									15000元／月 
		</h3>
		<p> ———————————————————————————————————————— </p>
		<p> 熟悉开源组件，快速完成UI界面，独立完成单元测试，提出UE改进建议 </p>
		 
		<h3> 1名php程序员									8000元／月 
		</h3>
		<p> ———————————————————————————————————————— </p>
		<p> 精通PHP编程技术，熟悉MySQL数据库，独立优化PHP环境，对主流框架有深入的研究，尤其MVC模式 </p>
		 
		<h3> 1名web程序员									10000元／月 
		</h3>
		<p> ———————————————————————————————————————— </p>
		<p> 精于html／javascript／css，熟悉ajax技术，精通jquery框架，绘制精美的网页 </p>
		 
		<h3> 1名java服务器程序员								10000元／月 
		</h3>
		<p> ———————————————————————————————————————— </p>
		<p> 参与产品的系统分析，数据库结构优化；熟悉jdbc和各种查询SQL的优化；熟练使用Socket、WebService接口； </p>
	    </div>
        </div>

    </div>
   <div class="clear"></div>
</body>
<div class="clear"></div>

</html>
