<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Add note</title>
<link rel="stylesheet"
	href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{static_url("click-wave.css")}}">
<style type="text/css">
body {
    background-color: #176f4e;
}
.container {
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}
.form-signin {
    max-width: 600px;
    padding: 19px 19px 19px;
    margin: 0 auto 20px;
    background-color: #ffc;
    border: 0px solid #e5e5e5;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
</style>
</head>

<body>
	<div class="container">
		<form class="form-signin" id="form-signin" method="post" action="add-note">
			<input type="hidden" value="{{boardId}}" name="boardId" />
			<!-- the 'raw' word is to force escape to be desactivated (it is by default activated) -->
			{% raw xsrf_form_html() %} 
			
			<!-- START THE NAVBAR -->
			<nav class="navbar navbar-static-top">
				<div class="container2">
					<div class="navbar-header">
						<span class="navbar-brand glyphicon glyphicon-chevron-left" 
							style="cursor: pointer" 
							onClick="history.go(-1);return true;">Board</span>
					</div>
				</div>
			</nav>
			<!-- END NAVBAR -->
			
			<div id="alertPanel"></div>
			
			<div class="form-group">
                <textarea id="title" name="title" class="form-control input-lg" 
                    placeholder="Please input content..." rows="6"></textarea>
            </div>
			<div class="form-group">
				<input type="radio" class="option-input radio yellow" value="yellow"
					name="color" checked onclick="javascript:change('#ffc')">
				<input type="radio" class="option-input radio green" value="green"
					name="color" onclick="javascript:change('#c2ffc1')">
				<input type="radio" class="option-input radio blue" value="blue"
					name="color" onclick="javascript:change('#81effe')">
				<input type="radio" class="option-input radio purple" value="purple"
					name="color" onclick="javascript:change('#c0befe')">
				<input type="radio" class="option-input radio red" value="red"
					name="color" onclick="javascript:change('#fc76bb')">
			</div>
			<br>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block"  type="button"
					onclick="SubmitForm();">Add board</button>
			</div>
		</form>
	</div>
	
	<script type="text/javascript">
	function findSelection(field) {
		var radios = document.getElementsByName(field);

		for (var i = 0, length = radios.length; i < length; i++) {
		    if (radios[i].checked) {
		        return radios[i].value;
		    }
		}
	}
	
	function submitForm() {
	    var genderS = findSelection("color");
	    alert(genderS);
	}

	function change(color){
		var board = document.getElementById("form-signin");
		board.style.backgroundColor = color;
	}
	
	function SubmitForm() {
		var title = document.getElementById("title").value;
		if (title == null || title == undefined || title == '') {
			var alertPanel = document.getElementById("alertPanel");
			alertPanel.innerHTML = '<div class="alert alert-danger" role="alert">\
				<span class="glyphicon glyphicon-exclamation-sign"\
				aria-hidden="true"></span> <span class="sr-only"> Warning: </span>\
				The title is required and can\'t be empty\
				</div>';
			return false;
		}

		document.getElementById("form-signin").submit();
	}
	</script>
</body>
</html>