<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Green board demo implement by tornado</title>
<link rel="stylesheet"
	href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="{{static_url("sticky-notes.css")}}" rel="stylesheet" type="text/css">
<style type="text/css">
body {
    background-color: #666;
}
.container {
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}
</style>
</head>

<body>
	<div class="container">
	<div>
		<form id="logoutForm" action="/logout" method="POST">
			{% raw xsrf_form_html() %}
			
			<nav class="navbar">
				<div class="container-fluid">
					<ul class="nav navbar-nav navbar-left">
						<h2>Welcome, {{login_name}}</h2>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<button class="btn btn-md btn-primary" type="submit">Logout</button>
					</ul>
				</div>
			</nav>
			
		</form>
	</div>
	<div id="body">
		<ul id="blackboard">
			<li><a class="black" id="plus" href="add-board">
				<img src="{{static_url("images/plus-white.png")}}" width="100%" height="100%" />
			</a></li>
			{% for board in boards %} 
				{% module Template("stickynote/boards-block.html",board=board) %} 
			{% end %}
		</ul>
	</div>
	</div>
</body>
</html>