<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{_("Edit")}}</title>
<link rel="stylesheet"
	href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style type="text/css">
body {
	background-color: #666;
}

.container {
	padding-top: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

.form-signin {
	max-width: 600px;
	padding: 19px 19px 19px;
	margin: 0 auto 20px;
	background-color: #176f4e;
	border: 0px solid #e5e5e5;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
</style>
<body>
	<div class="container">
		<form class="form-signin" id="form-signin" method="post"
			action="edit-board">
			<input type="hidden" value="{{board["id"]}}" name="boardId" />
			<!-- the 'raw' word is to force escape to be desactivated (it is by default activated) -->
			{% raw xsrf_form_html() %}

			<!-- START THE NAVBAR -->
			<nav class="navbar navbar-static-top">
				<div class="container2">
					<div class="navbar-header">
						<span class="navbar-brand glyphicon glyphicon-chevron-left"
							style="cursor: pointer" onClick="history.go(-1);return true;">{{_("Sticky Note")}}</span>
					</div>
				</div>
			</nav>
			<!-- END NAVBAR -->

			<div id="alertPanel"></div>

			<div class="form-group">
				<textarea id="title" name="title" class="form-control input-lg"
					placeholder="Please input title..." rows="6">{{board["title"]}}</textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="button"
					onclick="SubmitForm();">{{_("Submit")}}</button>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-danger btn-block" type="button"
					onclick="SubmitDelete();">{{_("Delete")}}</button>
			</div>
		</form>
		<form id="remove-board" method="post" action="remove-board">
			<input type="hidden" value="{{board["id"]}}" name="boardId" />
			<!-- the 'raw' word is to force escape to be desactivated (it is by default activated) -->
			{% raw xsrf_form_html() %}
		</form>
	</div>

	<script type="text/javascript">
		function SubmitForm() {
			var title = document.getElementById("title").value;
			if (title == null || title == undefined || title == '') {
				var alertPanel = document.getElementById("alertPanel");
				alertPanel.innerHTML = '<div class="alert alert-danger" role="alert">\
				<span class="glyphicon glyphicon-exclamation-sign"\
				aria-hidden="true"></span> <span class="sr-only"> Warning: </span>\
				The title is required and can\'t be empty\
				</div>';
				return false;
			}

			document.getElementById("form-signin").submit();
		}

		function SubmitDelete() {
			document.getElementById("remove-board").submit();
		}
	</script>
</body>
</html>